@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Nunito:wght@400;700;800&display=swap');

body {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
}

.item {
  font-size: 20px;
  line-height: 60px;
  padding: 4px;
  margin: 1px;
  text-align: center;
  height: 10vh;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

.flex-2 {
  display: flex;
}

.item-2 {
  font-size: 20px;
  line-height: 20px;
  margin: 1px;
  text-align: center;
  height: 142vh;
}


.item:nth-child(1) {
  background-color: #ffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  flex: 1 1;
}

.item:nth-child(2) {
  background-color: #ffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  flex: 0 1 292px;
}

.item-2:nth-child(1) {
  background-color: #ffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  flex: 0 1 70px;
}

.item-2:nth-child(2) {
  background-color: #ccc;
  flex: 1 1 70px;
}

.item-2:nth-child(3) {
  background-color: #ffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  flex: 0 1 300px;
}

.menu,
.search {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.menu {
  float: left;
  padding-left: 0.6em;
}

.search {
  float: right;
  padding-right: 0.6em;
}

.cart {
  position: relative;
  display: flex;
  padding: 1px;
  margin: 1px;
  align-items: center;
  height: 50px;
  justify-content: center;
}


.side-nav {
  position: relative;
  display: flex;
  padding: 1px;
  margin: 1px;
  align-items: center;
  height: 100px;
  line-height: 15px;
  justify-content: center;
}

article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

section {
  flex: 1 1 30%;
  height: 270px;
  line-height: 25px;
  text-align: left;
  font-family: 'Nunito', sans-serif;

}

article-inlineblock {
  font-size: 0;
}

section {
  display: inline-block;
  width: 25%;
}

section img {
  max-width: 100%;
  vertical-align: top;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

article,
section {
  border: 6px solid #ccc;
  box-sizing: border-box;
}


.card-style {
  border-radius: 12px;
  border-image-slice: 1;
  /* box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4); */
  transition: all 0.25s linear;
}

.card-style:hover {
  box-shadow: -1px 1px 9px 0px rgba(0, 0, 0, 0.8);
}


.price {
  position: relative;
  font-size: 16px;
  line-height: 1px;
  margin-top: 10px;
  font-weight: 800;
}

.logo {
  display: flex;
}

.cart-total {
  position: relative;
  display: flex;
  padding: 1px;
  margin: 1px;
  align-items: center;
  height: 760px;
  font-size: 17px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

.font-cart-total {
  font-size: 13px;
  color: #ccc
}

a {
  color: #fff;
  text-decoration: underline;
}

.opacity {
  opacity: 0.3;
}

.btn {
  /* display:flex; */
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
  width: 260px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
}

.info-check {
  background-color: #2196F3;
}

.info-check:hover {
  background: #0b7dda;
}

.info-cancel {
  background-color: #FF1493;
}

.info-cancel:hover {
  background: #C71585;
}

.total-checkout {
  padding-top: 280px;
}

.minus,
.qty,
.plus {
  display: flex;
  display: inline-block;
  padding: 4px 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 20px 0 0 0;
}

.item-qty {
  padding-right: 45px;
}

.qty {
  width: 10px;
  font-size: 12px;
  Font-weight: bold;

}

.minus,
.plus {
  cursor: pointer;
  background-color: #2196F3;
  color: #FFF;
  Font-weight: bold;
}

/**
 *responsive
 */
/* @media (max-width: 1600px) {
  .flex > section {  
    max-width: 250px;
  }
}

 @media (max-width: 1600px) {
  img{
    width: 250px;
  }
} */

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

.thin {
  display: flex;
  font-weight: 600;
  padding-left: 40px;
  font-size: 16px;
  text-align: left;
}

.small {
  display: flex;
  font-size: 12px;
  font-size: .8rem;
  text-align: left;
  line-height: 20px;
}

.thin-total {
  display: flex;
  /* font-weight:400; */
  padding-left: 15px;
  text-align: left;
}

.thin-total-rp {
  display: flex;
  padding-left: 120px;
}

.price-cart {
  bottom: 5px;
  font-size: 13px;
  position: absolute;
  right: 5px;
  color: #4488dd;
  Font-weight: bold;

}

.order-table td:first-of-type {
  width: 25%;
}

.order-table {
  position: relative;
}

.line {
  height: 1px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
  background: #fff;
}

.full-width {
  display: flex;
  max-width: 140%;
  padding-left: 10px;
}

.total {
  margin-top: 25px;
  font-size: 20px;
  font-size: 1.3rem;
  position: absolute;
  bottom: 30px;
  right: 27px;
}

/* 
@media (max-width: 600px) {
  .window {
    width: 100%;
    height: 100%;
    display:block;
    border-radius:0px;
  }
  .order-info {
    width:100%;
    height:auto;
    padding-bottom:100px;
    border-radius:0px;
  }
  .credit-info {
    width:100%;
    height:auto;
    padding-bottom:100px;
    border-radius:0px;
  }
  .pay-btn {
    border-radius:0px;
  }
} */


.container {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  max-width: 500px;
  margin: 2em auto;
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  border: solid #ccc 1px;
  position: absolute;
}

.form-row {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
  flex-wrap: wrap;

}

label {
  flex: 1;
  padding: 1em 0em;

}

input,
select,
textarea {
  flex: 3;
  padding: 1em;
}

#area,
.col {
  flex-grow: 1;
}

/* Form Controls */
input {
  margin: 0.5em;
  border: 1px solid #bbb;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

select {
  margin: 0.5em;
  border: 1px solid #bbb;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  /*   font-size: 1; */
}

.btn1 {
  border: none;
  border-radius: 5px;
  background: #C71585;
  color: #ffffff;
  font-size: 1em;
  width: 125px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
}

.btn2 {
  border: none;
  border-radius: 5px;
  background: #57CAD5;
  color: #ffffff;
  font-size: 1em;
  width: 125px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
}

.invalid-feedback {
  display: none;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
  flex: 100%;
}

/* POP UP CART */
#popup-cart {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, .7);
  top: 0;
  left: 0;
  z-index: 9999;
  visibility: hidden;
}

.container2 {
  font-family: 'Nunito', sans-serif;
  max-width: 470px;
  height: 450px;
  margin: 3em auto;
  background-color: #ffff;
  padding: 0 0 0 0;
  border-radius: 0.5rem;
  border: solid #ccc 1px;
}

body {
  width: 100%;
  height: 100%;
}

.mess {
  display: flex;
  padding-left: 20px;
  padding-top: 12px;
  height: 30px;

  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.mess2 {
  display: flex;
  padding-left: 180px;
  padding-bottom: 10px;
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.mess3 {
  display: flex;
  font-size: 12px;
  height: 25px;
  padding-left: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.price-cart-pop-up {
  display: flex;
  padding-left: 170px;
  font-size: 15px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.ppn {
  display: flex;
  padding-left: 282px;
  font-size: 15px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.mess4 {
  display: flex;
  padding-left: 312px;
  padding-top: 15px;
  font-size: 15px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.mess5 {
  display: flex;
  /* font-weight:400; */
  padding-left: 20px;
  padding-top: 12px;
  height: 30px;
  font-size: 15px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;

}

.btn-cart-pop-up {
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  border: none;
  color: white;
  width: 420px;
  height: 40px;
  margin: 6px;
  cursor: pointer;
  border-radius: 0.5rem;
}

.info-check {
  background-color: #2196F3;
}

.info-check:hover {
  background: #0b7dda;
}

.info-cancel {
  background-color: #FF1493;
}

.info-cancel:hover {
  background: #C71585;
}

.cart-total-button {
  line-height: 15px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.close-button {
  width: 20px;
  height: 20px;
  background: #0b7dda;
  border-radius: 50%;
  border: 3px solid #fff;
  display: block;
  text-align: center;
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 40px;
  right: 430px;
}

#popup-cart:target {
  visibility: visible;
}

/* POP UP ADD-ITEM */
#popup-addItem {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, .7);
  top: 0;
  left: 0;
  z-index: 9999;
  visibility: hidden;
}

.container-addItem {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  max-width: 500px;
  margin: 2em auto;
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  border: solid #ccc 1px;
}

/* Layout with Flexbox */
.form-row {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
  flex-wrap: wrap;
}

label {
  flex: 1;
  padding: 1em 0em;
}

input,
select,
textarea {
  flex: 3;
  padding: 1em;
}

#area,
.col {
  flex-grow: 1;
}

/* Form Controls */
input {
  margin: 0.5em;
  border: 1px solid #bbb;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

select {
  margin: 0.5em;
  border: 1px solid #bbb;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  /*   font-size: 1; */
}

.btn-addItem {
  border: none;
  border-radius: 5px;
  background: #C71585;
  color: #ffffff;
  font-size: 1em;
  width: 125px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
}

.btn2-addItem {
  border: none;
  border-radius: 5px;
  background: #57CAD5;
  color: #ffffff;
  font-size: 1em;
  width: 125px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
}

.close-button-addItem {
  width: 20px;
  height: 20px;
  background: #0b7dda;
  border-radius: 50%;
  border: 3px solid #fff;
  display: block;
  text-align: center;
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 22px;
  right: 400px;
}

#popup-addItem:target {
  visibility: visible;
}